:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: linear-gradient(135deg,  #fbfafa 0%,#E0E0E0 100%);
    --cor-de-first-section: #FFFFFF;
    --cor-de-second-section: #EAF2FD;
    --cor-de-booton: #2A7AE4;
    --cor-de-border-booton: #2A7AE4;
    --cor-de-texto: #000000;
    --cor-de-second-texto: #FFFFFF;
    --cor-de-third-texto: #2A7AE4;
    --cor-de-link: #000;
    --cor-de-hover-menu: #ddd;
    --cor-de-first-gradient: linear-gradient(135deg, #f0f6fe 0%, #deeafb 0%, #c4dcf9 15%, #2d53c8 50%, #273e81 90%, #1c284f 100%);
    --cor-de-second-gradient: linear-gradient(135deg, #1c284f 0%, #273e81 0%, #2d53c8 58%, #c4dcf9 90%, #deeafb 100%, #f0f6fe 100%);
    --cor-de-footer-gradient: linear-gradient(135deg, #273e81 0%, #2d53c8 0%, #c4dcf9 58%, #c4dcf9 90%, #deeafb 100%, #f0f6fe 100%);
    --cor-de-border-input: rgba(31, 23, 255, 0.5);
    /* Define la variable con un color verde semi-transparente */

    /* *Cambiar de tema */
    --cor-de-ligth-tema-box: #6b6868;
    --cor-de-dark-tema-box: #313131;
    --cor-de-dark-tema-text: #cfcfcf;
}

body {
    /* Fondo con degradado */
    background: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    overflow-x: hidden;
    /* Esconde barra de rolagem horizontal */
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}


/*Sección Menu*/

section.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Asegura que el menú esté sobre otros elementos */
    background: var(--cor-de-first-section);
    /* Color de fondo del encabezado */
    height: 88px;
    /* Altura fija del menú */
    padding: 0 20px;
    /* Añade espacio interno a los lados del encabezado */

}

.menu__header {
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
    max-width: 85%;
    /* Ancho máximo permitido */
    height: 88px;
    display: flex;
    justify-content: center;
    /* Alinea los elementos del encabezado en los extremos */
    align-items: center;
    /* Centra verticalmente los elementos del encabezado */
    /* Añade espacio interno a los lados del encabezado */
    background: var(--cor-de-first-section);
    /* Color de fondo del encabezado */
    margin-top: 0px;
    /* Elimina el margen superior */
    padding: 0 20px;
    /* Añade espacio interno a los lados del encabezado */
    /* Centra y distribuye el espacio equitativamente */
    margin: 0;
    /* Centra el encabezado horizontalmente */
}

/* Estilo para el logo en el encabezado */
.menu__logo {
    width: 70px;
    height: 40px;
    margin-right: 10px;
}

.menu__title {
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

/* Estilo para el icono de menú */
.menu__toggle {
    display: none;
    /* Oculta el icono de menú */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

/* Estilo para el icono de barras en el menú */
.menu__toggle i.fas.fa-bars {
    font-size: 30px;
    /* Cambia el tamaño del ícono de barras */
}


.menu__nav {
    display: block;
    /* Mostrar el menú en pantallas grandes por defecto */
}

/* Estilo para la lista del menú */
.menu__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    font-size: medium;
    list-style-type: none;
}

/* Estilo para los elementos de la lista del menú */
.menu__list__item {
    margin-right: 35px;
}

.menu__list__item a {
    transition: color 0.3s ease;
    /* Transición suave para el color del texto */
}

.menu__list__item a:hover {
    color: var(--cor-de-hover-menu);
    /* Cambia el color del texto en hover */
}

/* Estilo para el elemento de contacto en la lista del menú */
.menu-contacto {
    font-weight: bold;
}

/* *----------------------------------------*/
/* *Tema switch */
.menu__list__item-tema {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 100px;
    border: #333 solid 2px;
    background-color: #132b41;
}

.menu__list__item-tema {
    font-size: 1rem;
    color: #f5fd1c;
}

.menu__list li:last-child::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: solid thin #000;
    left: 0;
    right: unset;
}

.menu__list li:last-child.active::before {
    right: 0;
    left: unset;
    border: solid thin #fff;
}

.menu__list li:last-child.active i:first-child {
    color: #fff;
}

.menu__list li:last-child.active {
    background-color: rgb(210, 30, 201);
    border: solid 2px #fff;
}

/* * Body */

/* Estilos para elementos dentro del cuerpo activo */
body.active {
    /* Establece color de fondo oscuro */
    background-color: var(--cor-de-dark-tema-box);
    color: var(--cor-de-dark-tema-text);
}

/* Estilo para el logo en el encabezado */
body.active .menu__logo {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    /* Redondear los bordes */
    border-radius: 10px; /* Ajusta el valor según el grado de redondeo deseado */

}

body.active .menu__list__item a:hover {
    color: var(--cor-de-dark-tema-box);
    /* Cambia el color del texto en hover */
}

/* Menú y Encabezado */
body.active section.menu,
body.active .menu__nav,
body.active header,
body.active nav ul {
    background-color: var(--cor-de-dark-tema-box);
}

/* Estilo para el nuevo ícono en tema oscuro (body.active) */
body.active .title__network__item img[src*="nav1.png"] {
    display: none; /* Ocultar el ícono nav1.png en tema oscuro */
}

body.active .title__network__item .img-nav5[src*="nav5.png"] {
    display: inline-block; /* Mostrar el ícono nav5.png en tema oscuro */
}


body.active .menu__title,
body.active nav ul li a {
    color: var(--cor-de-dark-tema-text);
}

/* Contenido principal */
body.active .tudo,
body.active .title__div,
body.active .title__network a,
body.active .about,
body.active .skills,
body.active .hobbies,
body.active .formcontato {
    background-color: var(--cor-de-dark-tema-box);
    color: var(--cor-de-dark-tema-text);
}

/* Estilos para secciones específicas */
body.active .skills__box,
body.active .hobbies__box,
body.active .hobbies__name,
body.active .academic__container,
body.active .academic__courses__box {
    background-color: var(--cor-de-ligth-tema-box);
}

/* Experiencia */
body.active .experience,
body.active .experience__botao--demo,
body.active .experiencia__botao--repo {
    background-color: var(--cor-de-dark-tema-box);
}


/* Estilos para campos de formulario */
body.active .formcontato__input,
body.active .formcontato__textarea {
    background: var(--cor-de-ligth-tema-box);
    color: var(--cor-de-dark-tema-text);
}

body.active .formcontato__input::placeholder,
body.active .formcontato__textarea::placeholder {
    color: var(--cor-de-dark-tema-text);
}

/* Estilos para botón de enviar mensaje y pie de página */
body.active .formcontato__botao {
    color: var(--cor-de-dark-tema-text);
    background: var(--cor-de-dark-tema-box);
}

body.active .footer {
    background: var(--cor-de-ligth-tema-box);
    color: var(--cor-de-dark-tema-text);
}


/* *Sección Título */
.title {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    width: 100%;
}

.title__div {
    width: 100%;
    max-width: 88%;
    height: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-de-first-section);
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
    margin-top: 10%;
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.title__div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.title__profile {
    order: 2;
    aspect-ratio: 1327/697; 
    height: 320px;
    margin-left: 20px;
    border-radius: 50%;
    /* Usa 50% para un borde completamente redondeado */
    border: 4px solid #ffffff;
    /* Borde blanco sólido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: transform 0.3s ease-in-out;
    /* Transición suave al hacer hover */
    margin-right: 10px;
}

.title__profile:hover {
    transform: scale(1.05);
    /* Efecto de escala al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra más pronunciada al hacer hover */
}

.title__container {
    order: 1;
    /* Cambia el orden del elemento */
    flex: 1;
    /* El contenido ocupará el espacio restante */
    text-align: justify;
    margin-left: 10px;
    border-radius: 5px 100px;
}

.title__bio {
    font-size: 36px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
}

.title__subsection {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: normal;
    margin-right: 30px;
    margin-left: 20px;
}

.title__network {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
}

/* Estilos para los íconos de las redes sociales */
.title__network__item {
    display: inline-block;
    /* Hace que los elementos de la lista se muestren en línea */
    margin-left: 10%;
    /* Espacio entre los íconos */
}

.title__network__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-de-link);
    font-size: 16px;
    font-weight: medium;
    transition: color 0.3s ease;
}

.title__network__item a:hover {
    color: var(--cor-de-hover-menu);
}

.img-nav5 {
    display:none;
}

.title__network__item a img {
    margin-left: 10px;
    /* Espacio entre el nombre y el icono */
    transition: transform 0.3s ease-in-out;
    /* Transición suave al hacer hover */
}

.title__network__item a:hover img {
    transform: rotate(360deg);
    /* Rotar el icono 360 grados al hacer hover */
}

.title__network__item a:hover::after {
    content: attr(data-text);
    /* Mostrar el texto del enlace al hacer hover */
    position: absolute;
    bottom: -20px;
    /* Ajustar la posición del texto */
    left: 50%;
    /* Centrar el texto */
    transform: translateX(-50%);
    /* Centrar horizontalmente */
    background-color: rgba(255, 255, 255, 0.9);
    /* Fondo del texto */
    padding: 5px 10px;
    /* Espaciado interno */
    border-radius: 5px;
    /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    /* Evitar saltos de línea */
}

/* *Sección Sobre mí */
.about {
    background: var(--cor-de-second-section);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
}


/* Aplica la sombra cuando se hace hover sobre el elemento */
.about:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 88%;
    height: 250px;
}

.about__title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.about__paragraph {
    margin-bottom: 5px;
    text-align: justify;
}

/* *Sección Skills */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 88%;
    height: 235px;
    margin-top: 10%;
}

.skills__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 5px;
}

.skills__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.1) 80%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.skills__line:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 185px;
    height: 140px;
    margin: 5px;
    /* Margen entre las tarjetas */
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.skills__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.skills__img {
    width: 48px;
    height: 48px;
}

.skills__name {
    margin-top: auto;
}

/* *Sección Hobbies */
.hobbies {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente en el viewport */
    align-items: center;
    /* Centra verticalmente en el viewport */
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
    margin-bottom: 50px;
}

.hobbies__container {
    display: flex;
    flex-direction: column;
    /* Cambia la disposición a columna */
    justify-content: center;
    /* Centra verticalmente en el viewport */
    align-items: center;
    /* Centra horizontalmente */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 87%;
    /* Ancho máximo permitido */
    height: 244px;
    /* Usar altura completa del viewport */
    margin-top: 8%;
}

.hobbies__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    /* Espaciado inferior */
    margin-top: 5px;
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos con espacio proporcional */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en varias líneas */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin-right: 30px;
    margin-left: 30px;
    
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.2) 20%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.1) 80%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.hobbies__line:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}


.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 185px;
    height: 140px;
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */

}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.hobbies__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.hobbies__img {
    width: 48px;
    height: 48px;
}

.hobbies__name {
    margin-top: auto;
    background: var(--cor-de-first-section);
}

/* *Sección Formación Académica */
.academic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--cor-de-second-section);
    height: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.academic:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.academic__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 465px;
    margin-bottom: 40px;
}

.academic__title {
    font-size: 32px;
    font-weight: bold;
}

.academic__courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 87%;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    /* Cambia la disposición a columna */
    justify-content: center;
    /* Alinea los elementos al final */
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    width: 290px;
    background: var(--cor-de-first-section);
    height: 200px;
    padding: 0;
    margin-top: 0;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.academic__courses__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.academic__courses__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135px;
    margin-top: 100px;
    margin-bottom: 55px;
}

.academic__courses__item__img {
    width: 192px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.academic__courses__item__title {
    font-size: 17px;
    font-weight: bold;
    padding-top: 10px;
}

.academic__courses__item__subtitle {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 30px;
}


/* *Sección Experiencia Profesional */

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 87%;
}

.experience__section__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 35px;
}

.experience__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease;
    /* Agrega una transición suave a la sombra */
    padding-left: 15%;
    padding-right: 15%;
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.experience__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta la intensidad de la sombra al hacer hover */
}

.experience__img {
    aspect-ratio: 1327/697;
    height: 200px;
    margin: 0 10px 0 0;
    border-radius: 10px;
}
.experience__img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.experience__info-container {
    flex: 1;
    /* El contenido ocupará el espacio restante */
    width: 368px;
    height: 112px;
    margin-left: 30px;
    margin-right: 30px;
}

.experience__title {
    font-size: 22px;
    font-weight: bold;
}

.experience__text {
    font-size: 14px;
    font-weight: normal;
}

.experience__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

/* Estilos para los botones (repositorio y demo) */
.experience__repo,
.experience__demo {
    font-size: 16px;
    font-weight: normal;
    background: var(--cor-de-first-gradient);
    margin: 10px;
}

.experiencia__botao--repo,
.experience__botao--demo,
button {
    width: 120px;
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    border: none;

    font-weight: 700;
    color: var(--cor-de-second-texto);
    font-size: 14px;
    position: relative;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.7);
}

.experiencia__botao--repo:hover,
.experience__botao--demo:hover {
    background: var(--cor-de-second-gradient);
    color: var(--cor-de-second-texto);
}

.experiencia__botao--repo::before,
.experience__botao--demo::before,
button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.experiencia__botao--repo:hover::before,
.experience__botao--demo:hover::before,
button:hover::before {
    width: 100%;
    height: 100%;
}


/* *Sección Contacto */

section.formcontato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: var(--cor-de-second-section);
}

.formcontato__contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 765px;
}

.formcontato--box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    padding: 20px;
}

.formcontato__img {
    aspect-ratio: 2000/2000;
    height: 570px;
    border-radius: 20px;
}

.formcontato__text {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    width: 600px;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.3) 20%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.2) 80%);
    /* Degradado con transparencia */
    border-radius: 20px;
    margin-right: 25px;
}

.formcontato__title {
    font-size: 32px;
    font-weight: bold;
    margin: 15px;
    margin-top: 23px;
}

.formcontato__subtext__sub {
    font-size: 16px;
    font-weight: bold;
}

.formcontato__subtext {
    font-size: 16px;
    font-weight: normal;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
}

.formcontato__input,
.formcontato__textarea {
    width: 600px;
    height: 56px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    padding-left: 40px;
    font-size: 14px;
}

.formcontato__input:hover,
.formcontato__textarea:hover {
    box-shadow: 0 0 0 2px var(--cor-de-border-input);
    transition: box-shadow 0.3s ease;
}

.formcontato__textarea {
    height: 133px;
    padding-top: 10px;
}

.formcontato__botao {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    background: var(--cor-de-first-gradient);
    color: var(--cor-de-second-texto);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0;
    /* Agrega un margen superior */
    align-self: center;
    margin-bottom: 30px;
}

.formcontato__botao:hover {
    background: var(--cor-de-second-gradient);
}


/* *Sección Footer */
.footer {
    height: 110px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
    background: var(--cor-de-footer-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-de-texto)
}


/* *** Estilos para dispositivos con ancho mínimo de 1290px *** */
@media screen and (min-width: 1290px) and (max-width: 1339px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 25%;
        position: absolute;
        top: 90px;
        right: 0;
        background: var(--cor-de-fundo);
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        ;
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title__div {
        width: 87%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--cor-de-first-section);
        margin-top: 10%;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title__profile {
        order: 2;
        /* Cambia el orden del elemento */
        width: 150px;
        /* Ancho de la imagen del perfil */
        height: 220px;
        /* Altura automática manteniendo la proporción */
        margin-left: 20px;
        margin-right: 10px;
    }

    .title__bio {
        font-size: 30px;
        font-weight: bold;
    }

    .title__subsection {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    /* *Sección Sobre mí */
    .about {
        background: var(--cor-de-second-section);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 275px;
        padding-bottom: 30px;
        margin-bottom: 7%;
    }

    /* *Sección Skills */
    .skills {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 35%;
        padding-bottom: 30px;
    }

    .skills__line {
        justify-content: center;
    }

    .skills__box {
        width: 120px;
        height: 120px;
        margin: 30px;
    }

    /* *Sección Hobbies */
    .hobbies {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 370px;
        padding-bottom: 10px;
    }

    .hobbies__line {
        justify-content: center;
    }

    .hobbies__box {
        width: 125px;
        height: 120px;
        margin: 30px;
    }

    .academic {
    padding-bottom: 15px;
    }

    .experience__box {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}


/* *** Estilos para dispositivos con ancho minimo 800px *** */
@media screen and (min-width: 800px) and (max-width: 1290px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
        display: block;
        /* Asegurar que el icono sea visible */
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        /* Ocultar el menú principal por defecto en dispositivos pequeños */
        width: 25%;
        /* Ocupar todo el ancho disponible */
        position: absolute;
        /* Posicionar de manera absoluta */
        top: 90px;
        /* Distancia desde la parte superior */
        right: 0;
        /* Pegar al borde derecho */
        background: var(--cor-de-fundo);
        /* Color de fondo */
        padding: 20px;
        /* Espaciado interno */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Sombra */
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
        /* Ajustar la altura automáticamente según el contenido */
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        border-radius: 5px;

    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title__div {
        width: 100%;
        /* Ancho máximo permitido */
        max-width: 88%;
        height: 310px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--cor-de-first-section);
        margin-top: 15%;

        padding-left: 10px;
        padding: 10px;
    }

    .title__profile {
        order: 2;
        width: 170px;
        height: 200px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .title__bio {
        font-size: 22px;
        font-weight: bold;
    }

    .title__subsection {
        font-size: 15px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    /* *Sección Sobre mí */
    .about {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    /* *Sección Skills */
    .skills {
        margin-bottom: 10%;
    }

    .skills__line {
        justify-content: center;
    }

    .skills__box {
        width: 120px;
        height: 120px;
        margin: 30px;
    }

    /* *Sección Academic */
    .academic {
        height: 680px;
    }

    .academic__courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Espacio uniforme entre las cajas */
        align-items: flex-start;

    }

    /* Establece el ancho para acomodar 2 cajas por fila */
    .academic__courses__box {
        width: calc(35% - 10px);
        /* Calcula el ancho para 2 cajas por fila con margen */
        height: 155px;
        margin-bottom: 135px;
        /* Ajusta el espacio inferior entre las cajas */
        padding: 20px;
        /* Añade relleno interno */
        box-sizing: border-box;
    }

    .academic__courses__item {
        margin-top: 105px;
    }

    .academic__courses__item__img {
        height: 160px;
    }

    .academic__courses__item__title {
        font-size: 18px;
        font-weight: bold;
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
        margin-top: 8px;
        /* Añade espacio superior al subtítulo */
    }

    /* *Sección Hobbies */
    .hobbies {
        padding-bottom: 20px;
        margin-bottom: 10%;
    }

    .hobbies__box {
        width: 125px;
        /* Reducir el ancho del cuadro */
        height: 120px;
        /* Reducir la altura del cuadro */
        margin: 30px;
    }

    /* *Sección Experiencia */
    .experience__img {
        aspect-ratio: 1327/697;
        height: 160px;
        margin: 0 30px 0 30px;
        /* Margen derecho para separación */
    }

    
.experience__info-container {
    flex: 1;
    /* El contenido ocupará el espacio restante */
    width: 368px;
    height: 200px;
    margin-left: 30px;
    margin-right: 20px;

}

.experience__title {
    font-size: 18px;
    font-weight: bold;
}

.experience__text {
    font-size: 12px;
    font-weight: normal;
}

.experience__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

    /* *Sección Formulario de Contacto */
    .formcontato__img {
        aspect-ratio: 2000/2000;
        height: 400px;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 340px;
        height: 54px;
        margin-bottom: 16px;
        border: none;
    }
}

/* *** Estilos para dispositivos con ancho minimo 800px *** */
@media screen and (min-width: 800px) and (max-width: 1250px) {
    /* *Sección Skills */
    .skills {
        margin-top: 35%;
        margin-bottom: 45%;
    }
    .hobbies {
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .academic {
        padding-top: 15px;
    }
    .formcontato__img {
        aspect-ratio: 2000/2000;
        height: 300px;
    }
    .formcontato__text {
        width: 550px;
        height: 545px;
        margin-right: 90px;
    }
}


/* *** Estilos para dispositivos con ancho minimo 800px *** */
@media screen and (min-width: 625px) and (max-width: 800px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 25%;
        position: absolute;
        top: 90px;
        right: 0;
        background: var(--cor-de-fundo);
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        ;
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 88%;
        height: 400px;
        background: var(--cor-de-first-section);
        margin-top: 20%;
        margin-bottom: 20px;
        padding: 10px;
        padding-top:33px;
    }

    .title__container {
        order: 1;
        /* Cambia el orden del elemento */
        flex: 1;
        /* El contenido ocupará el espacio restante */
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 5px 100px;
    }

    .title__profile {
        order: 2;
        width: 170px;
        height: 220px;
        margin: auto;
        margin-bottom: 20px;
    }

    .title__bio {
        font-size: 18px;
        font-weight: bold;

        margin-right: 55px;
    }



    /* Estilos para los íconos de las redes sociales */
    .title__network__item {
        margin-left: 5px;
        /* Espacio entre los íconos */
    }

    .title__subsection {
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    /* *Sección Sobre mí */
    .about {
        padding-top: 10px;
        padding-bottom: 40px;
        margin-bottom: 35%;
    }

    /* *Sección Skills */
    .skills {
        margin-bottom: 40%;
    }

    .skills__line {
        display: flex;
        justify-content: center;
    }

    .skills__box {
        width: 130px;
        /* Reducir el ancho del cuadro */
        height: 130px;
        /* Reducir la altura del cuadro */
        margin: 10px;
    }

    /* *Sección Hobbies */
    .hobbies {
        margin-top: 30px;
        margin-bottom: 15%;
    }

    .hobbies__line {
        display: flex;
        justify-content: center;
    }

    .hobbies__box {
        width: 130px;
        height: 130px;
        margin: 10px;
    }

    .academic {
        height: 670px;
    }

    .academic__title {
        margin-top: 15%;
    }

    .academic__courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Espacio uniforme entre las cajas */
        align-items: flex-start;
        padding: 0 10px;
        /* Añade relleno a los lados */
    }

    /* Establece el ancho para acomodar 2 cajas por fila */
    .academic__courses__box {
        width: calc(50% - 20px);
        /* Calcula el ancho para 2 cajas por fila con margen */
        height: 170px;
        margin-bottom: 95px;
        /* Ajusta el espacio inferior entre las cajas */
        padding: 20px;
        /* Añade relleno interno */
        box-sizing: border-box;
        /* Incluye el relleno en el ancho total */
    }

    .academic__courses__item {
        margin-top: 60%;
        margin-bottom: 20%;
    }

    .academic__courses__item__img {
        height: 160px;
    }

    .academic__courses__item__title {
        font-size: 18px;
        font-weight: bold;
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
        margin-bottom: 50px;
    }

    /* *Sección Experiencia */
    .experience__section__title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .experience__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 320px;
    }

    .experience__img {
        width: 190px;
        height: 200px;
        margin-left: 0;
    }

    .experience__info-container {
        flex: 1;
        /* El contenido ocupará el espacio restante */
        width: 368px;
        height: 112px;
        margin-left: 20px;
        margin-right: 0px;

    }

    .experience__title {
        font-size: 22px;
        font-weight: bold;
    }

    .experience__text {
        font-size: 14px;
        font-weight: normal;
        margin-right: 30px;
    }

    /* *Sección Formulario de Contacto */
    .formcontato__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px 70px 30px;
        margin-top: 55px;
    }

    .formcontato__img {
        width: 300px;
        height: 180px;
        margin-bottom: 20px;
    }

    .formcontato__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 350px;
        height: 56px;
        margin-bottom: 16px;
        border: none;
    }

    .formcontato__botao:hover {
        background: var(--cor-de-first-section);
        background: var(--cor-de-second-gradient);
    }
}

/* *Media queries para dispositivos Tablet */
@media only screen and (min-width: 500px) and (max-width: 625px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 25%;
        position: absolute;
        top: 90px;
        right: 0;
        background: var(--cor-de-fundo);
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        ;
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;

    }

    /* *Sección Título */
    .title__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 88%;
        height: 540px;
        background: var(--cor-de-first-section);
        margin-top: 25%;
        margin-bottom: 20px;
        padding: 20px;
    }

    .title__container {
        order: 1;
        /* Cambia el orden del elemento */
        flex: 1;
        /* El contenido ocupará el espacio restante */
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px 100px;
    }

    .title__profile {
        order: 2;
        width: 170px;
        height: 220px;
        margin: auto;
        margin-bottom: 20px;
    }

    .title__bio {
        font-size: 15px;
        font-weight: bold;
        margin-right: 55px;
        margin-top: 80px;
    }

    .title__subsection {
        font-size: 13px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    .title__network {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0;
        /* Elimina el margen izquierdo */
    }

    .title__network__item {
        margin-bottom: 0;
        margin-bottom: 10px;
        /* Espacio entre las filas de íconos */
        white-space: nowrap;
        /* Evita que los íconos se envuelvan a la siguiente línea */
        flex-shrink: 0;
        /* Evita que los elementos se reduzcan en tamaño para ajustarse */
    }

    .title__network__item a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: black;
        /* Color del texto del enlace */
    }

    .title__network__item img {
        margin-left: 5px;
        /* Espacio entre el texto del enlace y el ícono */
    }

    /* *Sección Sobre mí */
    .about {
        padding-top: 10px;
        padding-bottom: 40px;
        margin-bottom: 70%;
    }

    /* *Sección Skills */
    .skills {
        margin-bottom: 100%;
    }

    .skills__container {
        height: 10px;
    }

    .skills__line {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .skills__name {
        font-size: 13px;
    }

    /* *Sección Hobbies */
    .hobbies {
        margin-top: 20px;
        margin-bottom: 20%;
    }

    .hobbies__container {
        height: 130px;
    }

    .hobbies__line {
        display: flex;
        justify-content: center;
    }

    .hobbies__box {
        width: 130px;
        height: 130px;
    }

    .hobbies__name {
        font-size: 13px;
    }

    /* *Sección Academica */
    .academic {
        height: 700px;
    }

    .academic__title {
        margin-top: 80%;
    }

    .academic__courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 10px;
    }

    .academic__courses__item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 85px;
        margin-top: 100px;
        margin-bottom: 55px;
    }

    /* *Sección Experiencia */
    .experience__section__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .experience__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 345px;
    }

    .experience__img {
        width: 190px;
        height: 200px;
        margin-left: 0;
    }

    .experience__info-container {
        flex: 1;
        /* El contenido ocupará el espacio restante */
        width: 368px;
        height: 112px;
        margin-left: 20px;
        margin-right: 0px;

    }

    .experience__title {
        font-size: 22px;
        font-weight: bold;
    }

    .experience__text {
        font-size: 14px;
        font-weight: normal;
        margin-right: 30px;
    }

    .experience__repo,
    .experience__demo {
        display: block;
        margin-bottom: 10px;
        /* Espacio entre cada span */
    }

    .experiencia__botao--repo,
    .experience__botao--demo {
        display: block;
        width: 100%;
        /* Opcional: Ajusta el ancho del botón al 100% del contenedor */
        padding: 8px 12px;
        /* Ajusta el relleno interno del botón */
        font-size: 14px;
        /* Tamaño de fuente más pequeño */
        text-align: center;
        /* Centra el texto dentro del botón */
        text-decoration: none;
        /* Elimina la subrayado del enlace */
        border-radius: 4px;
        /* Bordes redondeados */
        background: var(--cor-de-first-gradient);
        /* Color de fondo del botón */
    }

    .experiencia__botao--repo:hover,
    .experience__botao--demo:hover {
        background-color: #e0e0e0;
        /* Color de fondo al pasar el ratón por encima */
        cursor: pointer;
        /* Cambia el cursor al pasar el ratón por encima */
    }


    /* *Sección Formulario de Contacto */
    .formcontato__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px 70px 30px;
        margin-top: 55px;
    }

    .formcontato__img {
        width: 300px;
        height: 180px;
        margin-bottom: 20px;
    }

    .formcontato__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 350px;
        height: 56px;
        margin-bottom: 16px;
        border: none;
    }

    .formcontato__botao:hover {
        background: var(--cor-de-first-section);
        background: var(--cor-de-second-gradient);
    }

}

/* *Dispositivo Móvil */
/* *Media queries para dispositivos Celulares */
@media only screen and (min-width: 375px) and (max-width: 500px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 25%;
        position: absolute;
        top: 90px;
        right: 0;
        background: var(--cor-de-fundo);
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        ;
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;

    }

    /* *Sección Título */
    .title__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 88%;
        height: 520px;
        background: var(--cor-de-first-section);
        margin-top: 30%;
        margin-bottom: 45px;
        padding: 20px;
    }

    .title__container {
        order: 1;
        /* Cambia el orden del elemento */
        flex: 1;
        /* El contenido ocupará el espacio restante */
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px 100px;
    }

    .title__profile {
        order: 2;
        width: 170px;
        height: 200px;
        margin: auto;
        margin-bottom: 20px;
    }

    .title__bio {
        font-size: 15px;
        font-weight: bold;
        margin-right: 10px;
        margin-top: 17%;
    }

    .title__subsection {
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    .title__network {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
    }

    .title__network__item a {
        font-size: 0;
    }

    .title__network__item img {
        margin-top: 0;
        margin-left: 0;
        padding: 0;
        /* Espacio entre el texto del enlace y el ícono */
    }

    /* *Sección Sobre mí */
    .about {
        padding-top: 50px;
        padding-bottom: 75px;
        margin-bottom: 105%;
    }

    /* *Sección Skills */
    .skills {
        margin-bottom: 130%;
    }

    .skills__line {
        display: flex;
        justify-content: center;
    }

    .skills__box {
        width: 130px;
        /* Reducir el ancho del cuadro */
        height: 130px;
        /* Reducir la altura del cuadro */
        margin: 10px;
    }

    .skills__title {
        margin-bottom: 0;
    }

    /* *Sección Hobbies */
    .hobbies {
        margin-top: 30px;
        margin-bottom: 50%;
    }

    .hobbies__line {
        display: flex;
        justify-content: center;
    }

    .hobbies__box {
        width: 130px;
        height: 130px;
        margin: 10px;
    }

    .academic {
        height: 1250px;
    }

    .academic__title {
        margin-top: 30%;
    }

    .academic__courses {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Espacio uniforme entre las cajas */
        align-items: center;
        padding: 0 10px;
        /* Añade relleno a los lados */
    }

    /* Establece el ancho para acomodar 2 cajas por fila */
    .academic__courses__box {
        width: calc(80% - 20px);
        /* Calcula el ancho para 2 cajas por fila con margen */
        height: 150px;
        margin-bottom: 125px;
        /* Ajusta el espacio inferior entre las cajas */
        padding: 20px;
        /* Añade relleno interno */
        box-sizing: border-box;
        /* Incluye el relleno en el ancho total */
    }

    .academic__courses__item {
        margin-top: 55%;
        margin-bottom: 20%;
    }

    .academic__courses__item__img {
        height: 150px;
    }

    .academic__courses__item__title {
        font-size: 18px;
        font-weight: bold;
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
        margin-bottom: 50px;
    }

    /* *Sección Experiencia */
    .container {
        width: 100%;
        max-width: 100%;
    }

    .experience__section__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    .experience__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 280px;
    }

    .experience__img {
        width: 180px;
        height: 190px;
        margin-left: 0;
    }

    .experience__info-container {
        flex: 1;
        /* El contenido ocupará el espacio restante */
        width: 368px;
        height: 112px;
        margin-left: 10px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .experience__title {
        font-size: 20px;
        font-weight: bold;
        margin-right: 10px;
    }

    .experience__text {
        font-size: 14px;
        font-weight: normal;
        margin-right: 20px;
        text-align: justify;
    }

    .experience__repo,
    .experience__demo {
        display: block;
        margin-bottom: 10px;
        /* Espacio entre cada span */
    }

    .experiencia__botao--repo,
    .experience__botao--demo {
        display: block;
        width: 100%;
        /* Opcional: Ajusta el ancho del botón al 100% del contenedor */
        padding: 8px 12px;
        /* Ajusta el relleno interno del botón */
        font-size: 12px;
        /* Tamaño de fuente más pequeño */
        text-align: center;
        /* Centra el texto dentro del botón */
        text-decoration: none;
        /* Elimina la subrayado del enlace */
        border-radius: 4px;
        /* Bordes redondeados */
        background: var(--cor-de-first-gradient);
        /* Color de fondo del botón */
    }

    .experiencia__botao--repo:hover,
    .experience__botao--demo:hover {
        background-color: #e0e0e0;
        /* Color de fondo al pasar el ratón por encima */
        cursor: pointer;
        /* Cambia el cursor al pasar el ratón por encima */
    }


    /* *Sección Formulario de Contacto */
    .formcontato__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px 70px 30px;
        margin-top: 65px;
    }

    .formcontato__img {
        width: 300px;
        height: 180px;
        margin-bottom: 20px;
    }

    .formcontato__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 280px;
        height: 56px;
        margin-bottom: 10px;
        border: none;
    }

    .formcontato__botao:hover {
        background: var(--cor-de-first-section);
        background: var(--cor-de-second-gradient);
    }

    .footer__rodape {
        text-align: center;
        margin: 20px;
    }
}