:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-first-section: #FFFFFF;
    --cor-de-second-section: #EAF2FD;
    --cor-de-booton: #2A7AE4;
    --cor-de-border-booton: #2A7AE4;
    --cor-de-texto: #000000;
    --cor-de-second-texto: #FFFFFF;
    --cor-de-third-texto: #2A7AE4;
    --cor-de-link: #000;
    --cor-de-hover-menu: #ddd;
    --cor-de-first-gradient: linear-gradient(135deg, #f0f6fe 0%, #deeafb 0%, #c4dcf9 15%, #2d53c8 50%, #273e81 90%, #1c284f 100%);
    --cor-de-second-gradient: linear-gradient(135deg,  #1c284f 0%, #273e81 0%, #2d53c8 58%, #c4dcf9 90%,  #deeafb 100%, #f0f6fe 100%);
} 

body {
    /* Aplicar el color de fondo como degradado utilizando la variable */
    background: var(--cor-de-gradient); /* Fondo con degradado */
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    overflow-x: hidden;
    /* Esconde barra de rolagem horizontal */
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}


/*Sección Menu*/

section.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;
    /* Centra verticalmente el contenido */
}

.menu__header {
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
    max-width: 85%;
    /* Ancho máximo permitido */
    height: 88px;
    display: flex;
    justify-content: center;
    /* Alinea los elementos del encabezado en los extremos */
    align-items: center;
    /* Centra verticalmente los elementos del encabezado */
    /* Añade espacio interno a los lados del encabezado */
    background: var(--cor-de-first-section);
    /* Color de fondo del encabezado */
    margin-top: 0;
    /* Elimina el margen superior */
    padding: 0 20px;
    /* Añade espacio interno a los lados del encabezado */
    /* Centra y distribuye el espacio equitativamente */
    margin: 0;
    /* Centra el encabezado horizontalmente */
}

/* Estilo para el logo en el encabezado */
.menu__logo {
    width: 70px;
    /* Tamaño del logo */
    height: 40px;
    /* Mantiene la proporción del logo */
    margin-right: 10px;
    /* Margen derecho para separación */
}

.menu__title {
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}

/* Estilo para el icono de menú */
.menu__toggle {
    display: none;
    /* Oculta el icono de menú */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
}

/* Estilo para el icono de barras en el menú */
.menu__toggle i.fas.fa-bars {
    font-size: 30px;
    /* Cambia el tamaño del ícono de barras */
}


.menu__nav {
    display: block;
    /* Mostrar el menú en pantallas grandes por defecto */
}

/* Estilo para la lista del menú */
.menu__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    font-size: medium;
    list-style-type: none;
}

/* Estilo para los elementos de la lista del menú */
.menu__list__item {
    margin-right: 35px;
}

.menu__list__item a {  
    transition: color 0.3s ease;
    /* Transición suave para el color del texto */
}

.menu__list__item a:hover {
    color: var(--cor-de-hover-menu);
    /* Cambia el color del texto en hover */
}

/* Estilo para el elemento de contacto en la lista del menú */
.menu__list__item-contacto {
    margin-left: auto;
    /* Empuja el elemento de contacto hacia la derecha tanto como sea posible */
    font-weight: bold;
}

/* *Sección Título */
.title {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
}

.title__div {
    width: 100%;
    max-width: 88%;
    height: 368px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-de-first-section);
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.title__div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la intensidad de la sombra al hacer hover */
}

.title__profile {
    order: 2;
    width: 250px;
    height: 330px;
    margin-left: 20px;
    border-radius: 50%; /* Usa 50% para un borde completamente redondeado */
    border: 4px solid #ffffff; /* Borde blanco sólido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease-in-out; /* Transición suave al hacer hover */
}

.title__profile:hover {
    transform: scale(1.05); /* Efecto de escala al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

.title__container {
    order: 1; /* Cambia el orden del elemento */
    flex: 1; /* El contenido ocupará el espacio restante */
    text-align: justify;
    margin-left: 10px;
    border-radius: 5px 100px;
}

.title__bio {
    font-size: 36px;
    font-weight: bold;
}

.title__subsection {
    font-size: 22px;
    margin-bottom: 16px;
    font-weight: normal;
}

.title__network {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
}

/* Estilos para los íconos de las redes sociales */
.title__network__item {
    display: inline-block; /* Hace que los elementos de la lista se muestren en línea */
    margin-left: 10%; /* Espacio entre los íconos */
}

.title__network__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-de-link);
    font-size: 16px;
    font-weight: medium;
    transition: color 0.3s ease;    
}

.title__network__item a:hover {
    color: var(--cor-de-hover-menu);
}

.title__network__item a img {
    margin-left: 10px; /* Espacio entre el nombre y el icono */
    transition: transform 0.3s ease-in-out; /* Transición suave al hacer hover */
}

.title__network__item a:hover img {
    transform: rotate(360deg); /* Rotar el icono 360 grados al hacer hover */
}

.title__network__item a:hover::after {
    content: attr(data-text); /* Mostrar el texto del enlace al hacer hover */
    position: absolute;
    bottom: -20px; /* Ajustar la posición del texto */
    left: 50%; /* Centrar el texto */
    transform: translateX(-50%); /* Centrar horizontalmente */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo del texto */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap; /* Evitar saltos de línea */
}

/* *Sección Sobre mí */
.about {
    background: var(--cor-de-second-section);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}


/* Aplica la sombra cuando se hace hover sobre el elemento */
.about:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la intensidad de la sombra al hacer hover */
}

.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 88%;
    height: 250px;
}

.about__title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}

.about__paragraph {
    margin-bottom: 5px;
    text-align: justify;
}

/* *Sección Skills */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 88%;
    height: 235px;
    margin-top: 10%;
}

.skills__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 5px;
}

.skills__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    padding: 30px;
}

.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 185px;
    height: 140px;
    margin: 5px; /* Margen entre las tarjetas */
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.skills__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la intensidad de la sombra al hacer hover */
}

.skills__img {
    width: 48px;
    height: 48px;
}

.skills__name {
    margin-top: auto;
}

/* *Sección Hobbies */
.hobbies {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente en el viewport */
    align-items: center;
    /* Centra verticalmente en el viewport */
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
}

.hobbies__container {
    display: flex;
    flex-direction: column;
    /* Cambia la disposición a columna */
    justify-content: center;
    /* Centra verticalmente en el viewport */
    align-items: center;
    /* Centra horizontalmente */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    max-width: 87%;
    /* Ancho máximo permitido */
    height: 244px;
    /* Usar altura completa del viewport */
    margin-top: 8%;
}

.hobbies__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    /* Espaciado inferior */
    margin-top: 5px;
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
    /* Distribuye los elementos con espacio proporcional */
    align-items: center;
    /* Centra verticalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en varias líneas */
    width: 100%;
    /* Ocupa todo el ancho disponible */
    margin-right: 30px;
    margin-left: 30px;
}

.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 185px;
    height: 140px;
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */

}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.hobbies__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la intensidad de la sombra al hacer hover */
}

.hobbies__img {
    width: 48px;
    height: 48px;
}

.hobbies__name {
    margin-top: auto;
    background: var(--cor-de-first-section);
}

/* *Sección Formación Académica */
.academic {
    display: flex;
    justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
    width: 100%;
    background: var(--cor-de-second-section);
    height: 420px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.academic:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.academic__container {
    display: flex;
    flex-direction: column;
    /* Cambia la disposición a columna */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 75px;
}

.academic__title {
    font-size: 32px;
    font-weight: bold;
}

.academic__courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 87%;
}

.academic__courses__box {
    display: flex;
    flex-direction: column;
    /* Cambia la disposición a columna */
    justify-content: center;
    /* Alinea los elementos al final */
    align-items: flex-start;
    /* Alinea los elementos a la izquierda */
    width: 290px;
    background: var(--cor-de-first-section);
    height: 200px;
    padding: 0;
    margin-top: 0;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.academic__courses__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la intensidad de la sombra al hacer hover */
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
}

.academic__courses__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 135px;
    margin-top: 100px;
    margin-bottom: 55px;
}

.academic__courses__item__img {
    width: 192px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.academic__courses__item__title {
    font-size: 17px;
    font-weight: bold;
}

.academic__courses__item__subtitle {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}


/* *Sección Experiencia Profesional */

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 87%;
}

.experience__section__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.experience__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 306px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
}

/* Aplica la sombra cuando se hace hover sobre el elemento */
.experience__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la intensidad de la sombra al hacer hover */
}

.experience__img {
    width: 570px;
    height: 270px;
    margin: 0 10px 0 0;
}

.experience__info-container {
    flex: 1; /* El contenido ocupará el espacio restante */
    width: 368px;
    height: 112px;
    margin-left: 30px;
    margin-right: 30px;
}

.experience__title {
    font-size: 22px;
    font-weight: bold;
}

.experience__text {
    font-size: 16px;
    font-weight: normal;
}

.experience__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

/* Estilos para los botones (repositorio y demo) */
.experience__repo,
.experience__demo {
    font-size: 16px;
    font-weight: normal;
    background: var(--cor-de-first-gradient);
    margin: 10px;
}

.experiencia__botao--repo,
.experience__botao--demo,
button {
    width: 120px;
    height: 51px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    
    font-weight: 700;
    color: var(--cor-de-second-texto);
    font-size: 14px;
    position: relative;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.7);
}

.experiencia__botao--repo:hover,
.experience__botao--demo:hover {
    background: var(--cor-de-second-gradient);
    color: var(--cor-de-second-texto);
}

.experiencia__botao--repo::before,
.experience__botao--demo::before,
button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.experiencia__botao--repo:hover::before,
.experience__botao--demo:hover::before,
button:hover::before {
    width: 100%;
    height: 100%;
}


/* *Sección Contacto */

section.formcontato {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    flex-direction: column;
    /* Cambia la disposición a columna */
    width: 100%;
    /* Ocupa todo el ancho disponible del viewport */
    background: var(--cor-de-second-section);
}

.formcontato__contacto {
    display: flex;
    justify-content: space-between;
    /* Espacio entre la imagen y el texto */
    align-items: center;
    /* Centra verticalmente */
    width: 100%;
    /* Ancho máximo permitido */
    max-width: 87%;
    height: 660px;
}

.formcontato--box {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    height: 660px;
}

.formcontato__img {
    width: 450px;
    height: 593px;
    border-radius: 20px;

}

.formcontato__text {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    width: 660px;
    height: 559px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.3) 20%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0.3) 80%
    ); /* Degradado con transparencia */
    border-radius: 20px;
}


.formcontato__title {
    font-size: 32px;
    font-weight: bold;
    margin: 15px;
    margin-top: 23px;
}

.formcontato__subtext {
    font-size: 16px;

}

.formcontato__form {
    display: flex;
    flex-direction: column;
    /* Cambia la disposición a columna para apilar los elementos */
}

.formcontato__input,
.formcontato__textarea {
    width: 656px;
    height: 56px;
    margin-bottom: 16px;
    border: none;
}

.formcontato__textarea {
    height: 133px;
}

.formcontato__botao {
    width: 160px;
    height: 51px;
    font-size: 16px;
    font-weight: normal;
    background: var(--cor-de-booton);
    color: var(--cor-de-second-texto);
    border: none;
    cursor: pointer;
}

.formcontato__input::placeholder,
.formcontato__textarea::placeholder {
    padding-left: 10px;
    /* Agrega padding izquierdo al placeholder */
}

/* *Sección Footer */
.footer {
    height: 110px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
    background-image: url('../assets/image/footer_bg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-de-texto)
}


/* *** Estilos para dispositivos con ancho mínimo de 1290px *** */
@media screen and (min-width: 1290px) and (max-width: 1339px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 25%;
        position: absolute;
        top: 90px;
        right: 0;
        background: var(--cor-de-fundo);
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        ;
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title__div {
        width: 87%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--cor-de-first-section);
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .title__profile {
        order: 2;
        /* Cambia el orden del elemento */
        width: 150px;
        /* Ancho de la imagen del perfil */
        height: 240px;
        /* Altura automática manteniendo la proporción */
        margin-left: 20px;
        margin-right: 10px;
    }

    .title__bio {
        font-size: 30px;
        font-weight: bold;
    }

    .title__subsection {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    /* *Sección Sobre mí */
    .about {
        background: var(--cor-de-second-section);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 275px;
        padding-bottom: 30px;
        margin-bottom: 10%;
    }

    /* *Sección Skills */
    .skills {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        height: 40%;
        padding-bottom: 30px;
        margin-bottom: 15%;
    }

    .skills__line {
        justify-content: center;
    }

    .skills__box {
        width: 150px;
        height: 180px;
        margin: 30px;
    }

    /* *Sección Hobbies */
    .hobbies {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        height: 390px;
        padding-bottom: 10px;
        margin-bottom: 8%;
    }

    .hobbies__line {
        justify-content: center;
    }

    .hobbies__box {
        width: 150px;
        height: 180px;
        margin: 30px;
    }

    .experience__box {
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

/* *** Estilos para dispositivos con ancho minimo 800px *** */
@media screen and (min-width: 800px) and (max-width: 1290px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
        display: block;
        /* Asegurar que el icono sea visible */
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        /* Ocultar el menú principal por defecto en dispositivos pequeños */
        width: 25%;
        /* Ocupar todo el ancho disponible */
        position: absolute;
        /* Posicionar de manera absoluta */
        top: 90px;
        /* Distancia desde la parte superior */
        right: 0;
        /* Pegar al borde derecho */
        background: var(--cor-de-fundo);
        /* Color de fondo */
        padding: 20px;
        /* Espaciado interno */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        /* Sombra */
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
        /* Ajustar la altura automáticamente según el contenido */
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        border-radius: 5px;

    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title__div {
        width: 100%;
        /* Ancho máximo permitido */
        max-width: 88%;
        height: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--cor-de-first-section);
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;        
        padding: 10px;
    }

    .title__profile {
        order: 2;
        width: 170px;
        height: 240px;
        margin-left: 20px;
        margin-right: 10px;
    }

    .title__bio {
        font-size: 27px;
        font-weight: bold;
    }

    .title__subsection {
        font-size: 16px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    /* *Sección Sobre mí */
    .about {
        padding-bottom: 30px;
        margin-bottom: 5%;
    }

    /* *Sección Skills */
    .skills {
        padding-top: 20px;
        margin-bottom: 35%;
    }

    .skills__line {
        justify-content: center;
        /* Centra los elementos en una línea */
    }

    .skills__box {
        width: 150px;
        /* Reducir el ancho del cuadro */
        height: 180px;
        /* Reducir la altura del cuadro */
        margin: 30px;
    }

    /* *Sección Academic */
    .academic__title {
        font-size: 32px;
        font-weight: bold;
    }

    .academic__courses__box {
        width: 350px;
        /* Reducir el ancho del cuadro */
        height: 250px;
        /* Reducir la altura del cuadro */
        margin: 10px;
    }

    /* *Sección Hobbies */
    .hobbies {
        padding-bottom: 20px;
        margin-bottom: 15%;
    }

    .hobbies__box {
        width: 150px;
        /* Reducir el ancho del cuadro */
        height: 180px;
        /* Reducir la altura del cuadro */
        margin: 30px;
    }

    /* *Sección Experiencia */
    .experience__img {
        width: 400px;
        height: 360px;
        margin: 0 30px 0 30px;
        /* Margen derecho para separación */
    }

    /* *Sección Formulario de Contacto */
    .formcontato__img {
        width: 300px;
        height: 400px;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 350px;
        height: 56px;
        margin-bottom: 16px;
        border: none;
    }
}



/* *** Estilos para dispositivos con ancho minimo 800px *** */
@media screen and (min-width: 625px) and (max-width: 800px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 25%;
        position: absolute;
        top: 90px;
        right: 0;
        background: var(--cor-de-fundo);
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        /* Alinear los elementos a la izquierda */
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        /* Alinear cada elemento a la izquierda */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
        height: 15px;
        padding: 8px;
        /* Ajustar el padding para aumentar el tamaño del área de clic */
        height: auto;
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        ;
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title__div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 88%;
        height: 420px;
        background: var(--cor-de-first-section);
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .title__profile {
        order: 2;
        width: 170px;
        height: 220px;
        margin: auto;
        margin-bottom: 20px;
    }

    .title__bio {
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
    }

    .title__subsection {
        font-size: 15px;
        margin-bottom: 16px;
        font-weight: normal;
    }

    /* *Sección Sobre mí */
    .about {
        margin-bottom: 13%;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    /* *Sección Skills */
    .skills {
        margin-bottom: 20%;
    }

    .skills__line {
        display: flex;
        justify-content: center;
    }

    .skills__box {
        width: 130px;
        /* Reducir el ancho del cuadro */
        height: 130px;
        /* Reducir la altura del cuadro */
        margin: 10px;
    }

    /* *Sección Hobbies */
    .hobbies {
        margin-bottom: 15%;
    }

    .hobbies__line {
        display: flex;
        justify-content: center;
    }

    .hobbies__box {
        width: 130px;
        height: 130px;
        margin: 10px;
    }

    /* *Sección Academic */
    .academic {
        width: 100%;
        background: var(--cor-de-second-section);
        height: 740px;
        padding-top: 17%;
    }

    .academic__title {
        font-size: 32px;
        font-weight: bold;
    }

    .academic__courses {
        flex-direction: row;
        flex-wrap: wrap;
        /* Permite que los elementos se envuelvan en varias líneas */
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Establece el ancho para acomodar 2 cajas por fila */
    .academic__courses__box {
        width: calc(50% - 20px);
        /* Calcula el ancho para 2 cajas por fila con margen */
        margin-left: 20px;
        margin-bottom: 30%;
        height: 260px;
    }

    .academic__courses__item__title {
        font-size: 18px;
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
    }

    /* *Sección Experiencia */
    .experience__section__title {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }

    .experience__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .experience__img {
        width: 240px;
        height: 260px;
        margin: 0 30px 0 30px;
    }

    /* *Sección Formulario de Contacto */
    .formcontato__contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 30px 70px 30px;
        margin-top: 55px;
    }

    .formcontato__img {
        width: 300px;
        height: 180px;
    }

    .formcontato__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 350px;
        height: 56px;
        margin-bottom: 16px;
        border: none;
    }

    .formcontato__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra horizontalmente los elementos */
        justify-content: center;
        /* Centra verticalmente los elementos */
        text-align: center;
        /* Alinea el texto en el centro */
    }

    .formcontato__botao {
        margin-top: 20px;
        /* Espacio superior para separar el botón */
        padding: 10px 20px;
        /* Relleno interno del botón */
        font-size: 16px;
        background: var(--cor-de-booton);
        /* Color de fondo del botón */
        color: var(--cor-de-second-texto);
        /* Color del texto del botón */
        border: none;
        /* Elimina el borde del botón */
        cursor: pointer;
        /* Cambia el cursor al pasar por encima del botón */
    }

    .formcontato__botao:hover {
        background: var(--cor-de-first-section);
        /* Cambia el color de fondo al pasar el cursor sobre el botón */
        color: var(--cor-de-texto);
        border: 1px solid var(--cor-de-border-booton);
    }
}

/* *Media queries para dispositivos Celulares */
@media only screen and (max-width: 375px) and (max-height: 933px) {

    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 10px;
        /* Reducir el margen derecho */
    }

    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        /* Ocultar el menú de navegación */
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        /* Ancho completo */
        background: var(--cor-de-fundo);
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        list-style-type: none;
    }

    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 10px;
        /* Reducir el margen inferior */
        width: 100%;
        /* Ocupar todo el ancho disponible */
        transition: background-color 0.3s ease;
        /* Transición para cambiar el color de fondo */
    }

    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        /* Cambiar color de fondo en hover */
        border-radius: 5px;
    }

    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }

    /* *Sección Título */
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        /* Altura automática */
        width: 100%;
        
    }

    .title__div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 15px;
        height: 420px;
    }

    .title__profile {
        width: 100px;
        height: 120px;
        margin-bottom: 20px;
    }

    .title__bio {
        font-size: 18px;
        padding: 5px;
    }

    .title__subsection {
        font-size: 14px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .title__network {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .title__network__item a {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 0;
    }

    /* *Sección Sobre mí */
    .about {
        margin-bottom: 10%;
        padding-top: 70px;
        padding-bottom: 95px;
    }

    /* *Sección Skills */
    .skills {
        margin-bottom: 10%;
    }

    .skills__box {
        width: 100px;
        /* Reducir el ancho del cuadro */
        height: 100px;
        /* Reducir la altura del cuadro */
        margin: 5px;
        /* Reducir el margen entre los cuadros */
    }

    /* *Sección Hobbies */
    .hobbies {
        margin-bottom: 15%;
    }

    .hobbies__box {
        width: 100px;
        /* Reducir el ancho del cuadro */
        height: 100px;
        /* Reducir la altura del cuadro */
        margin: 0;
        /* Reducir el margen entre los cuadros */
        margin-top: 10px;
    }

    /* *Sección Academic */
    .academic {
        height: 1100px;
        padding-top: 20%;
        /* Ajustar el espacio superior */
    }

    .academic__title {
        font-size: 26px;
        text-align: center;
        /* Centrar el título */
    }

    .academic__courses {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* Distribuir elementos uniformemente */
        flex-wrap: wrap;
        /* Permitir envoltura de elementos en múltiples líneas */
    }

    .academic__courses__box {
        width: 90%;
        margin-bottom: 90px;
        /* Ajustar el margen inferior */
        text-align: center;
        /* Centrar contenido dentro del box */
    }

    .academic__courses__item__title {
        font-size: 16px;
        /* Tamaño de fuente para el título */
        font-weight: bold;
        /* Negrita para el título */
    }

    .academic__courses__item__subtitle {
        font-size: 14px;
        /* Tamaño de fuente para el subtítulo */
    }


    /* *Sección Experiencia */
    .experience {
        margin-bottom: 20px;
    }
    .experience__section__title {
        font-size: 24px;
        margin-top: 20px;
        text-align: center;
    }

    .experience__box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin: 10px;
    }

    .experience__img {
        width: 130px;
        height: auto;
        margin-bottom: 30px;
    }

    .experience__info-container {
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .experience__title {
        font-size: 16px;
    }

    .experience__info-container h3 {
        font-size: 13px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    /* Estilos para los botones (repositorio y demo) */
    .experience__repo,
    .experience__demo {
        font-size: 12px;
        font-weight: normal;
    }

    .experiencia__botao--repo,
    .experience__botao--demo,
    button {
        width: 82px;
        height: 35px;
        border: 1px solid var(--cor-de-border-booton);
        cursor: pointer;
        font-size: 14px;
        margin-right: 5px;
    }

    /* *Sección Formulario de Contacto */
    .formcontato__contacto {
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-top: 10px;
    }

    .formcontato__img {
        width: 200px;
        height: 150px;
        margin-bottom: 20px;
    }

    .formcontato__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .formcontato__input,
    .formcontato__textarea {
        width: 105%;
        height: 40px;
        margin-bottom: 10px;
    }
    
    .formcontato__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra horizontalmente los elementos */
        justify-content: center;
        /* Centra verticalmente los elementos */
        text-align: center;
        /* Alinea el texto en el centro */
    }

    .formcontato__botao {
        margin-top: 20px;
        /* Espacio superior para separar el botón */
        padding: 10px 20px;
        /* Relleno interno del botón */
        font-size: 16px;
        background: var(--cor-de-booton);
        /* Color de fondo del botón */
        color: var(--cor-de-second-texto);
        /* Color del texto del botón */
        border: none;
        /* Elimina el borde del botón */
        cursor: pointer;
        /* Cambia el cursor al pasar por encima del botón */
    }

    .formcontato__botao:hover {
        background: var(--cor-de-first-section);
        /* Cambia el color de fondo al pasar el cursor sobre el botón */
        color: var(--cor-de-texto);
        border: 1px solid var(--cor-de-border-booton);
    }
}