:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: linear-gradient(135deg, #fbfafa 0%, #E0E0E0 100%);
    --cor-de-first-section: #FFFFFF;
    --cor-de-second-section: #EAF2FD;
    --cor-de-booton: #2A7AE4;
    --cor-de-border-booton: #2A7AE4;
    --cor-de-texto: #000000;
    --cor-de-second-texto: #FFFFFF;
    --cor-de-third-texto: #2A7AE4;
    --cor-de-link: #000;
    --cor-de-hover-menu: #ddd;
    --cor-de-first-gradient: linear-gradient(135deg, #f0f6fe 0%, #deeafb 0%, #c4dcf9 15%, #2d53c8 50%, #273e81 90%, #1c284f 100%);
    --cor-de-second-gradient: linear-gradient(135deg, #1c284f 0%, #273e81 0%, #2d53c8 58%, #c4dcf9 90%, #deeafb 100%, #f0f6fe 100%);
    --cor-de-footer-gradient: linear-gradient(135deg, #273e81 0%, #2d53c8 0%, #c4dcf9 58%, #c4dcf9 90%, #deeafb 100%, #f0f6fe 100%);
    --cor-de-border-input: rgba(31, 23, 255, 0.5);
    /* *Cambiar de tema */
    --cor-de-ligth-tema-box: #6b6868;
    --cor-de-dark-tema-box: #313131;
    --cor-de-dark-tema-text: #cfcfcf;
}

body {
    background: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    overflow-x: hidden;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/* *Sección Menu*/
section.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--cor-de-first-section);
    height: 88px;
}
.menu__header {
    width: 100%;
    max-width: 90%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--cor-de-first-section);
    margin-top: 0px;
    margin: 0;
}
/* Estilo para el logo en el encabezado */
.menu__logo {
    width: 70px;
    height: 40px;
    margin-right: 0;
}
.menu__title {
    margin-right: auto;
    font-size: 16px;
    font-weight: bold;
}
/* Estilo para el icono de menú */
.menu__toggle {
    display: none;
    cursor: pointer;
}
/* Estilo para el icono de barras en el menú */
.menu__toggle i.fas.fa-bars {
    font-size: 30px;
}
.menu__nav {
    display: block;
}
/* Estilo para la lista del menú */
.menu__list {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
    font-size: medium;
    list-style-type: none;
}
/* Estilo para los elementos de la lista del menú */
.menu__list__item {
    margin-right: 35px;
}
.menu__list__item a {
    transition: color 0.3s ease;
}
.menu__list__item a:hover {
    color: var(--cor-de-hover-menu);
}
/* Estilo para el elemento de contacto en la lista del menú */
.menu-contacto {
    font-weight: bold;
}

/* *----------------------Tema switch-------------------* */
.menu__list__item-tema {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 100px;
    border: #333 solid 2px;
    background-color: #132b41;
    font-size: 1rem;
    color: #f5fd1c;
    margin-right: 25px;
    margin-left: 0;
}
.menu__list li:last-child::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: solid thin #000;
    left: 0;
    right: unset;
}
.menu__list li:last-child.active::before {
    right: 0;
    left: unset;
    border: solid thin #fff;
}
.menu__list li:last-child.active i:first-child {
    color: #fff;
}
.menu__list li:last-child.active {
    background-color: rgb(210, 30, 201);
    border: solid 2px #fff;
}

/* * Body */
/* Estilos para elementos dentro del cuerpo activo */
body.active {
    background-color: var(--cor-de-dark-tema-box);
    color: var(--cor-de-dark-tema-text);
}
/* Estilo para el logo en el encabezado */
body.active .menu__logo {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
}
body.active .menu__list__item a:hover {
    color: var(--cor-de-dark-tema-box);
}
/* Menú y Encabezado */
body.active section.menu,
body.active .menu__nav,
body.active header,
body.active nav ul {
    background-color: var(--cor-de-ligth-tema-box);
}
/* Estilo para el nuevo ícono en tema oscuro (body.active) */
body.active .title__network__item img[src*="nav1.png"] {
    display: none;
}
body.active .title__network__item .img-nav5[src*="nav5.png"] {
    display: inline-block;
}
body.active .menu__title,
body.active nav ul li a,
body.active .formcontato a {
    color: var(--cor-de-dark-tema-text);
}
/* Contenido principal */
body.active .tudo,
body.active .title__div,
body.active .title__network a,
body.active .about,
body.active .skills,
body.active .hobbies,
body.active .academic,
body.active .academic__container,
body.active .formcontato {
    background-color: var(--cor-de-dark-tema-box);
    color: var(--cor-de-dark-tema-text);
}
/* Estilos para secciones específicas */
body.active .skills__box,
body.active .hobbies__box,
body.active .hobbies__name,
body.active .academic__courses__box,
body.active .academic__courses__list,
body.active .academic__courses__item__datos {
    background-color: var(--cor-de-ligth-tema-box);
}

body.active .academic__courses-image {
    filter:brightness(0.4);
}
body.active .academic__courses__item__datos{
    background-color: var(--cor-de-dark-tema-box);

}
/* Experiencia */
body.active .experience,
body.active .experience__botao--demo,
body.active .experiencia__botao--repo {
    background-color: var(--cor-de-dark-tema-box);
}
/* Estilos para campos de formulario */
body.active .formcontato__input,
body.active .formcontato__textarea {
    background: var(--cor-de-ligth-tema-box);
    color: var(--cor-de-dark-tema-text);
}
body.active .formcontato__input::placeholder,
body.active .formcontato__textarea::placeholder {
    color: var(--cor-de-dark-tema-text);
}
/* Estilos para botón de enviar mensaje y pie de página */
body.active .formcontato__botao {
    color: var(--cor-de-dark-tema-text);
    background: var(--cor-de-dark-tema-box);
}
body.active .footer {
    background: var(--cor-de-ligth-tema-box);
    color: var(--cor-de-dark-tema-text);
}
/* Estilo para el icono nav6 en tema claro */
#scrollUpIconDark {
    display: none; /* Mostrar el icono nav6 */
}
/* Estilo para el icono nav7 en tema oscuro */
body.active #scrollUpIconLight {
    display: none; /* Ocultar el icono nav7 */
}
body.active #scrollUpIconDark {
    display: inline; /* Ocultar el icono nav7 */
}

/* *Sección Título */
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.title__div {
    width: 100%;
    max-width: 88%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-de-first-section);
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px 130px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin-top: 13%;
}
.title__div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.title__profile {
    order: 2;
    width: clamp(150px, 20vw, 200px);
    height: clamp(200px, 20vw, 250px);
    object-fit: contain;
    margin-left: 20px;
    border-radius: 0 80px 0 0;
    border: 4px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-right: 10px;
}
.title__profile:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.title__container {
    order: 1;
    flex: 1;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px 100px;
}
.title__bio {
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px;
}
.title__subsection {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    margin-bottom: 16px;
    font-weight: normal;
    margin-right: 30px;
    margin-left: 20px;
    text-align: justify;
}
.title__network {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 30px;
}
/* Estilos para los íconos de las redes sociales */
.title__network__item {
    display: inline-block;
    margin-left: 1rem;
    margin-bottom: 10px;
}
.title__network__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cor-de-link);
    font-size: 16px;
    font-weight: medium;
    transition: color 0.3s ease;
}
.title__network__item a:hover {
    color: var(--cor-de-hover-menu);
    filter: brightness(0.7);
}
.img-nav5 {
    display: none;
}
.title__network__item a img {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}
.title__network__item a:hover img {
    transform: rotate(360deg);
}
.title__network__item a:hover::after {
    content: attr(data-text);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
}

/* *Sección Sobre mí */
.about {
    background: var(--cor-de-second-section);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 290px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin-bottom: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 88%;
}
.about__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about__paragraph {
    margin-bottom: 5px;
    text-align: justify;
}

/* *-----Sección Skills----- */
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.skills__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 88%;
}
.skills__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 5px;
}
.skills__line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
}
.skills__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 140px;
    margin: 5px;
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.skills__box ul {
    padding: 0;
    text-align: center;
}
.skills__img {
    width: 48px;
    height: 48px;
    margin: auto;
}
.skills__name {
    margin-top: auto;
}

/* *-----Sección Hobbies----- */
.hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
/* Contenedor de la sección Hobbies */
.hobbies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 88%;
}
.hobbies__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 5px;
}
.hobbies__line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
}
.hobbies__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 185px;
    height: 140px;
    margin: 5px;
    background: var(--cor-de-first-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}
.hobbies__box ul {
    padding: 0;
    text-align: center;
}
/* Aplica la sombra cuando se hace hover sobre el elemento */
.hobbies__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.hobbies__img {
    width: 48px;
    height: 48px;
    margin: auto;
}
.hobbies__name {
    margin-top: auto;
    background: var(--cor-de-first-section);
}
/* * -------Sección Formación Académica------- */
.academic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    background: var(--cor-de-second-section);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    height: auto;
    padding: 20px;
}
.academic__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 95%;
}
.academic__title {
    font-size: 32px;
    font-weight: bold;
}
.academic__courses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 90%;
}

.academic__courses__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--cor-de-second-texto);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    margin-bottom: 0;
}
.academic__courses__list:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.academic__courses__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.academic__courses__item__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.academic__courses__item__datos {
    width: 220px;
    background: var(--cor-de-second-section);
    padding: 20px;
}
.academic__courses__item__title {
    font-size: 15px;
    font-weight: bold;
}
.academic__courses__item__subtitle {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* *Sección Experiencia Profesional */
.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 88%;
}
.experience__section__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 35px;
}
.experience__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    padding: 20px;
}
/* Aplica la sombra cuando se hace hover sobre el elemento */
.experience__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.experience__img {
    aspect-ratio: 16/9;
    height: 170px;
    width: auto;
    margin-right: 20px;
    border-radius: 10px;
}
.experience__img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.experience__info-container {
    flex: 1;
    margin-right: 20px;
}
.experience__title {
    font-size: 22px;
    font-weight: bold;
}
.experience__text {
    font-size: 14px;
    font-weight: normal;
}
.experience__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
/* Estilos para los botones (repositorio y demo) */
.experience__repo,
.experience__demo {
    font-size: 16px;
    font-weight: normal;
    background: var(--cor-de-first-gradient);
    margin: 10px;
    border-radius: 10px;
}
.experiencia__botao--repo,
.experience__botao--demo,
button {
    width: 140px;
    height: 41px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: var(--cor-de-second-texto);
    font-size: 14px;
    position: relative;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.7);
}
.experiencia__botao--repo:hover,
.experience__botao--demo:hover {
    background: var(--cor-de-second-gradient);
    color: var(--cor-de-second-texto);
}
.experiencia__botao--repo::before,
.experience__botao--demo::before,
button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.experiencia__botao--repo:hover::before,
.experience__botao--demo:hover::before,
button:hover::before {
    width: 100%;
    height: 100%;
}

/* *Sección Contacto */
section.formcontato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: var(--cor-de-second-section);
}
.formcontato__contacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}
.formcontato--box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    padding: 20px;
}
.formcontato__img {
    aspect-ratio: 1/1;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    max-height: 300px;
    margin-right: 20px;
}
.formcontato__text {
    flex: 1;
    text-align: left;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.3) 20%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.2) 80%);
    border-radius: 20px;
}
.formcontato__title {
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0;
}
.formcontato__subtext__sub {
    font-size: 16px;
    font-weight: bold;
}
.formcontato__subtext {
    font-size: 16px;
    font-weight: normal;
}
.formcontato__form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}
.formcontato__input,
.formcontato__textarea {
    width: 80%;
    height: 56px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    padding-left: 40px;
    font-size: 14px;
}
.formcontato__input:hover,
.formcontato__textarea:hover {
    box-shadow: 0 0 0 2px var(--cor-de-border-input);
    transition: box-shadow 0.3s ease;
}
.formcontato__textarea {
    height: 133px;
    padding-top: 10px;
}
.formcontato__botao {
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    background: var(--cor-de-first-gradient);
    color: var(--cor-de-second-texto);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    margin-bottom: 30px;
}
.formcontato__botao:hover {
    background: var(--cor-de-second-gradient);
}

/* *Sección Hobbies */
.icon-hacia__arriba img {
    margin-right: 10px;
}

/* *Sección Footer */
.footer {
    height: 110px;
    font-size: 16px;
    font-weight: medium;
    text-align: center;
    background: var(--cor-de-footer-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-de-texto)
}
/* *Combinacion*/
/* Aplica la sombra cuando se hace hover sobre el elemento */
.about:hover,
.skills:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.hobbies:hover,
.hobbies__box:hover,
.academic:hover,
.skills__box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mensaje-error {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: .925rem;
    color: red;
}


/* ***Sección Media Queries*** */

/* *** Estilos para dispositivos con ancho mínimo de 1290px *** */
@media screen and (min-width: 370px) and (max-width: 1339px) {
    /* Estilo para el icono de menú */
    .menu__toggle {
        margin-right: 20px;
    }
    /* Estilo para el menú de navegación */
    .menu__nav {
        display: none;
        width: 15%;
        position: absolute;
        top: 80px;
        right: 0;
        padding: 20px 20px 0 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        background: var(--cor-de-hover-menu);
        opacity: 0.8;
    }
    /* Estilo para la lista de elementos del menú */
    .menu__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        list-style-type: none;
        align-items: flex-start;
        align-items: center;
        font-size: 12px;
    }
    .menu__list__item,
    .menu__list__item__contato {
        margin-bottom: 5px;
        align-self: flex-start;
        width: 100%;
        transition: background-color 0.3s ease;
        height: 15px;
        padding: 5px;
        height: auto;
    }
    .menu__list__item:hover,
    .menu__list__item__contato:hover {
        background: var(--cor-de-hover-menu);
        border-radius: 5px;
        filter: brightness(0.8);
    }
    .menu__list__item a:hover {
        color: var(--cor-de-texto);
        font-weight: bold;
    }
    /* Mostrar el menú principal cuando tiene la clase 'show' */
    .menu__nav.show {
        display: block;
    }
    .title__profile {
        margin: auto;
    }
}

@media (max-width: 934px) {
    .title__div {
        flex-direction: column;
        margin-top: 20%;
        padding-top: 20px;
    }
    .title__profile {
        order: 1;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .menu__nav {
        width: 20%;
    }
    .title__div {
        flex-direction: column;
        margin-top: 20%;
        padding-top: 20px;
    }
    .title__profile {
        order: 1;
        margin: auto;
        margin-bottom: 10px;
    }
    .title__bio {
        margin-right: 89px;
        margin-left: 30px;
        padding-top: 50px;
        padding: 10px;
    }
    
    .title__subsection {
        margin-bottom: 16px;
        margin-left: 40px;
        margin-right: 50px;
    }
    .title__network {
        padding-left: 10px;
    }
    .title__network__item a {
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title__network__item a img {
        width: 30px;
        height: 30px;
        margin: 10px;
        margin-left: 40px;
        transition: transform 0.3s ease-in-out;
    }

    .academic__title {
        text-align: center;
        font-size: 28px;    
    }

    /* *Sección Experiencia */
    .container {
        width: 100%;
        max-width: 100%;
    }
    .experience__section__title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .experience__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 280px;
    }
    .experience__img {
        aspect-ratio: 1327/697;
        height: 120px;
        margin-left: 0;
    }
    .experience__info-container {
        flex: 1;
        width: 368px;
        height: 112px;
        margin-left: 40px;
        margin-right: 20px;
    }
    .experience__title {
        font-size: 16px;
        font-weight: bold;
    }
    .experience__text {
        font-size: 14px;
        font-weight: normal;
        text-align: justify;
    }
    .experience__repo,
    .experience__demo {
        display: block;
        margin-bottom: 10px;
    }
    .experiencia__botao--repo,
    .experience__botao--demo {
        display: block;
        width: 100%;
        padding: 8px 12px;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        background: var(--cor-de-first-gradient);
    }
    .experiencia__botao--repo:hover,
    .experience__botao--demo:hover {
        background-color: #e0e0e0;
        cursor: pointer;
    }
    .formcontato__img {
        display: none;
    }
}

/* *Dispositivo Móvil 520 */
@media only screen and (max-width: 520px) {
    .menu__nav {
        width: 25%;
    }
    /* Estilos para los íconos de las redes sociales */
    .title__network__item {
        margin: 0;
    }
    /* *Sección Skills */
    .skills__box {
        width: 155px;
        height: 140px;
    }
    /* *Sección Hobbies */
    .hobbies__box {
        width: 155px;
        height: 140px;
    }
}

/* *Dispositivo Móvil 412 */
@media only screen and (max-width: 446px) {
    .menu__nav {
        width: 32%;
    }
    .experience__img {
        aspect-ratio: 1327/697;
        height: 80px;
        margin-left: 0;
    }
    .experience__info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin-left: 0;
    }
    .experience__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }
    /* Estilos adicionales para los botones */
    .experience__repo button,
    .experience__demo button {
        width: 150px; 
        height: 40px; 
        font-size: 14px;
    }
}

/* *Dispositivo Móvil 414 */
@media only screen and (max-width: 414px) {
    .menu__nav {
        width: 35%;
    }
    .experience__img {
        aspect-ratio: 1327/697;
        height: 70px;
        margin-left: 0;
    }
    .experience__info-container {
        flex: 1; /* Contenido ocupará espacio restante */
        width: 368px;
        height: 112px;
        margin-left:10px;
        margin-right: 20px;
    }
    .experience__text,
    .experience__title {
        text-align: center;
    }
    .formcontato__form {
        padding-left: 5px;
    }
}




/* *Dispositivo Móvil */
/* *Media queries para dispositivos Celulares */
@media only screen and (max-width: 375px) {
    .menu__nav {
        width: 38%;
    }

    /* *Sección Experiencia */
    .experience__section__title {
        font-size: 24px;
    }
    .experience__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
        padding: 20px;
        height: 300px;
    }
    .experience__info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    .experience__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; 
    }
    .experience__text {
        margin-left: 20px;
    }
    /* Estilos para los botones en dispositivos móviles */
    .experience__repo,
    .experience__demo {
        margin-top: 10px; 
    }
    /* Estilos adicionales para los botones */
    .experience__repo button,
    .experience__demo button {
        width: 150px; 
        height: 40px; 
        font-size: 14px; 
    }
}